*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
  /* background: linear-gradient(145deg, #0ed1b3, #d8ffeb); */
  background-image: url("assets/background.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

button {
  background: none;
  border: none;
  padding: 0;
  font-family: inherit;
  cursor: pointer;
}

input[type="text"] {
  width: 100%;
  outline: none;
  font-size: 17px;
  font-family: inherit;
}

.visibility-hidden {
  visibility: hidden;
  opacity: 0;
  transition: 0.3s ease;
}

.chat-body {
  height: calc(100vh - 48px);
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.chat-popup {
  position: fixed;
  transform: translate(-50%, -70%);
  left: 50%;
  top: 50%;
  height: 240px;
  width: 240px;
  padding: 30px 20px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  text-align: center;
  background-color: #0000003d;
  color: white;
}

.chat-popup .chat-empty-title {
  margin-bottom: 10px;
  font-size: 16px;
  font-weight: 600;
}

.chat-popup .chat-empty-description {
  font-size: 13px;
}

.chat-preview-background {
  z-index: 1;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: #00000080;
  transition: 0.3s ease;
}

.chat-preview-wrapper {
  margin-bottom: 10px;
  height: 100%;
  display: flex;
  align-items: center;
}

.chat-preview-wrapper img {
  object-fit: cover;
}

.chat-preview {
  width: 320px;
  height: 400px;
  padding: 20px;
  align-items: flex-start;
  justify-content: space-between;
  background-color: white;
  color: black;
}

.chat-preview-title {
  margin-bottom: 10px;
  font-weight: 600;
  font-size: 16px;
}

.chat-preview-text-input-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
}

.chat-preview-text-input-wrapper label {
  position: absolute;
  top: 20%;
  text-align: left;
  font-size: 13px;
  font-weight: 600;
  pointer-events: none;
  color: #989798;
  transition: 0.3s ease;
}

.chat-preview-text-input {
  height: 40px;
  margin-bottom: 20px;
  padding: 10px 0;
  border: none;
  border-bottom: 1px solid #dedede;
  order: 1;
}

.chat-preview-text-input:focus {
  border-bottom: 1px solid #239be0;
  transition: 0.3s ease;
}

.chat-preview-text-input:focus ~ label {
  top: -10px;
  font-size: 12px;
  color: #239be0;
  transition: 0.3s ease;
}

.chat-preview-bottom-buttons {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.chat-preview-bottom-buttons button:nth-child(2) {
  margin-left: 50px;
}

.chat-preview-bottom-buttons button {
  font-weight: 600;
  font-size: 13px;
  color: #239be0;
}

.message {
  margin-bottom: 2px;
  display: flex;
}

.message-sender {
  justify-content: flex-end;
}

.message-sender .sent-message {
  padding: 8px 56px 8px 12px;
  background-color: #effdde;
}

.message-sender .sent-message span {
  bottom: 5px;
  right: 14px;
  color: rgb(90 185 78);
}

.message-recipient {
  justify-content: flex-start;
}

.message-recipient .sent-message {
  padding: 8px 56px 8px 12px;
}

.message-recipient .sent-message span {
  bottom: 5px;
  right: 14px;
  color: rgb(163 172 182);
}

.message-sender .sent-message-image span,
.message-recipient .sent-message-image span {
  bottom: 8px;
  right: 4px;
}

.message-sender .sent-message span,
.message-sender .sent-message-image span,
.message-recipient .sent-message span,
.message-recipient .sent-message-image span {
  position: absolute;
  font-size: 13px;
}

.sent-message {
  position: relative;
  border-radius: 14px;
  box-shadow: 0 1px 0 0 rgb(215, 215, 215);
  background-color: white;
}

.sent-message-image img,
.sent-message-image video {
  border-radius: 10px;
  display: block;
}

.sent-message-image {
  position: relative;
}

.sent-message-image span {
  padding: 5px 12px;
  border-radius: 10px;
  background-color: #0000005e;
  color: white;
}

.message-panel {
  position: fixed;
  bottom: 0;
  right: 0;
  height: 48px;
  padding: 0 12px;
  width: 100%;
  display: flex;
  align-items: center;
  background-color: white;
}

.message-paper-clip-button {
  margin-right: 12px;
}

.message-text {
  height: 100%;
  border: none;
}

.message-send-button {
  scale: 0.9;
  transition: 0.3s ease;
}

.message-button:active {
  scale: 1;
  padding: 12px;
  transition: 0.3s ease;
}

.message-paper-clip-button,
.message-send-button {
  cursor: pointer;
}
