*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
  background: linear-gradient(145deg, #0ed1b3, #d8ffeb);
}

.visibility-hidden {
  visibility: hidden;
  opacity: 0;
  transition: 0.3s ease;
}

.chat-body {
  height: calc(100vh - 48px);
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background-image: url("assets/background.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.chat-empty-message {
  position: fixed;
  transform: translate(-50%, -70%);
  left: 50%;
  top: 50%;
  height: 240px;
  width: 240px;
  padding: 30px 20px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  text-align: center;
  background-color: #0000003d;
  color: white;
}

.chat-empty-message .chat-empty-title {
  margin-bottom: 10px;
  font-size: 16px;
  font-weight: 600;
}

.chat-empty-message .chat-empty-description {
  font-size: 13px;
}

.message {
  margin-bottom: 2px;
  display: flex;
}

.message-sender {
  justify-content: flex-end;
}

.message-sender .sent-message {
  padding: 8px 56px 8px 12px;
  background-color: #effdde;
}

.message-sender .sent-message span {
  bottom: 5px;
  right: 14px;
  color: rgb(90 185 78);
}

.message-recipient {
  justify-content: flex-start;
}

.message-recipient .sent-message {
  padding: 8px 56px 8px 12px;
}

.message-recipient .sent-message span {
  bottom: 5px;
  right: 14px;
  color: rgb(163 172 182);
}

.message-sender .sent-message span,
.message-recipient .sent-message span {
  position: absolute;
  font-size: 13px;
}

.sent-message {
  position: relative;
  border-radius: 14px;
  box-shadow: 0 1px 0 0 rgb(215, 215, 215);
  background-color: white;
}

.message-panel {
  position: fixed;
  bottom: 0;
  right: 0;
  height: 48px;
  padding: 0 12px;
  width: 100%;
  display: flex;
  align-items: center;
  background-color: white;
}

.message-paper-clip-button {
  margin-right: 12px;
}

.message-text {
  height: 100%;
  width: 100%;
  outline: none;
  border: none;
  font-size: 17px;
  font-family: inherit;
}

.message-send-button {
  scale: 0.9;
  transition: 0.3s ease;
}

.message-button:active {
  scale: 1;
  padding: 12px;
  transition: 0.3s ease;
}

.message-paper-clip-button,
.message-send-button {
  cursor: pointer;
}
